.signup-page {
    background-color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .forgot-password-card {
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%; 
    margin: 0 auto; 
  }
  
  .brand {
    color: rgba(255, 255, 255, 0.71);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .highlight {
    color: #590fb7;
  }
  
  @media (max-width: 576px) {
    .forgot-password-card {
      padding: 20px; 
    }
  }